.dark {
  /* Background configuration */
  --background-primary: #474747;
  --background-secondary: #535353;
  --background-tertiary: #383838;
  --foreground-primary: #fff;
  --foreground-secondary: #999;
}
