.light {
  /* Background configuration */
  --background-primary: #fff;
  --background-secondary: #f5f5f5;
  --background-tertiary: #e2e8f0;
  --foreground-primary: #222;
  --foreground-secondary: #424242;
}
